.ava-profile-edit {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.edit-profile-section {
  margin-bottom: 30px;
}

.btn-update-profile {
  background-color: #000;
  color: #fff;
  width: 100%;
  white-space: nowrap;
  box-shadow: none;
}